<table>
    <br>
    <tr>
        <th> <span class="label-text">Present</span> </th>
        <th><input type="radio" name="radio-10" class="radio checked:bg-green-500" checked /></th>
    </tr>
    <tr>
        <th> <span class="label-text">Present</span> </th>
        <th><input type="radio" name="radio-10" class="radio checked:bg-red-500" checked /></th>
    </tr>
    <tr>
        <th> <span class="label-text">Present</span> </th>
        <th><input type="radio" name="radio-10" class="radio checked:bg-orange-500" checked /></th>
    </tr>
</table>

<div>
    <textarea class="textarea textarea-bordered h-24" placeholder="Please enter your reason if you are Late!"></textarea>
    <label class="label">
    </label>
  </div>

  <div class="navbar-end">
    <a class="btn">Submit</a>
  </div>